/* 
    COLOR SCHEME:
    - Background Color --> #545677: Dark Blue
    - Main Content Color --> #DED9E2: Light Purple
    - Main Contents Hover --> #c8c3cb: Darker Light Purple
    - Spotify Buttons --> #57C284: Green
    - Spotify Buttons Hover --> #469b6a: Dark Green
*/

/* ALL PAGES */

body {
    background-color: #545677;
}

h1, h2, h4, p, i {
    color: #DED9E2;
}

/* HOME PAGE */

#home-button-holder {
    background-color: #DED9E2;
}

#spotify-login-button {
    background-color: #57C284;
    color: white;
}

#spotify-login-button:hover {
    background-color: #469b6a;
    color: white;
}

#home-button-holder p {
    color: #545677;
}

/* SELECT PLAYLIST PAGE */

#your-playlist-box {
    background-color: #545677;
    color: #DED9E2;
    border: none
}

#spotifys-playlist-box {
    background-color: #545677;
    color: #DED9E2;
    border: none;
}

#spotify-search-button {
    background-color: #57C284;
    color: white;
}

#spotify-search-button:hover {
    background-color: #469b6a;
    color: white;
}

.list-group-item {
    background-color: white;
    color: #545677;
    border: 1px solid #545677;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #c8c3cb;
}

.list-group-item img {
    border-radius: 4px;
}

.li-headers {
    font-weight: bold;
}

/* SELECT SONGS PAGE */

#select-songs-box {
    background-color: #545677;
    border: none;
}

#songs-box {
    background-color: #545677;
    border: none;
}

#songs-box .card-body {
    padding: 0px;
}

tr {
    background-color: #DED9E2;
    color: #545677;
    border: 1px solid #545677;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

tr:hover {
    background-color: #c8c3cb;
}

tr img {
    border-radius: 4px;
}

.table-hover tbody tr:hover {
    background-color: #c8c3cb;
}

.table thead th {
    background-color: white;
    color: #545677;
    border-bottom: 2px solid #545677;
}

.table tbody td {
    border-top: 1px solid #545677;
    background-color: white;
    color: #545677;
}

#devices-box {
    background-color: #DED9E2;
    color: #545677;
}

#start-button {
    background-color: #57C284;
    color: white;
}

#start-button:hover {
    background-color: #469b6a;
    color: white;
}

/* PLAY PAGE */

#play-box {
    background-color: #545677;
    color: #DED9E2;
    border: 1px solid white;
}

#navigate-buttons {
    padding-left: 25%;
    padding-right: 25%;
}

#navigate-buttons button {
    background-color: #DED9E2;
    color: #545677;
}

#navigate-buttons button:hover {
    background-color: #c8c3cb;
    color: white;
}